<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Yatra">
  <test name="YatraFlightReservationPage">

      <classes>
      <class name="test.FlightReservation"/>
      </classes>
      
  </test> <!-- Test --> 
   
</suite> <!-- Suite -->